---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ollama-ingress
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
#    cert-manager.io/cluster-issuer: "letsencrypt-staging"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - bauerlein.dev
    secretName: ollama-tls
  rules:
  - host: bauerlein.dev
    http:
      paths:
      - path: /chat
        pathType: Prefix
        backend:
          service:
            name: ollama-service
            port:
              number: 80
